﻿@model GestArtWeb.Helper.Pagination<GestArtWeb.Models.mage_categoria>

<table class="table table-striped table-hover table-responsive-sm">
    <thead>
        <tr class="thead-dark">
            <th scope="col">
                ID
            </th>
            <th scope="col">
                NOMBRE
            </th>
            <th scope="col">
                ACTIVA
            </th>
            <th scope="col">
                NIVEL
            </th>
            <th scope="col">
                PADRE
            </th>

            <!-- <th></th> -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

        <tr>
            <th scope="row">
                @item.entity_id
            </th>
            <td>
                @item.nombre
            </td>
            <td>

                @if (item.es_activa == 1)
                {
                    <span>Si</span>
                }
                else
                {
                    <span>No</span>
                }

            </td>
            <td>
                @{ var nivel = item.nivel - 1; }
                <span>@nivel º</span>

            </td>
            <td>
                @{
                    if (item.mage_categoria2.nivel > 1)
                    {
                        @item.mage_categoria2.nombre

                    }
                }

            </td>

            <!--
    <td>
        <div class="dropdown menuAction" style="display:inline-block">
            <span class="glyphicon glyphicon-option-vertical" style="cursor:pointer; width: 40px; padding-left:20px;" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            </span>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="left:-230px;">
                @Html.ActionLink("Ver", "Details", new { id = item.entity_id }, new { @class = "dropdown-item" })
                @Html.ActionLink("Editar", "Details", new { id = item.entity_id }, new { @class = "dropdown-item" })
                @Html.ActionLink("Desactivar", "Details", new { id = item.entity_id }, new { @class = "dropdown-item" })
                @Html.ActionLink("Ver lista de productos", "Details", new { id = item.entity_id }, new { @class = "dropdown-item" })
                @Html.ActionLink("Número total de productos", "Details", new { id = item.entity_id }, new { @class = "dropdown-item" })
                @Html.ActionLink("Añadir/Quitar un productos", "Details", new { id = item.entity_id }, new { @class = "dropdown-item" })
                @Html.ActionLink("Cambiar de padres", "Details", new { id = item.entity_id }, new { @class = "dropdown-item" })
            </div>
        </div>
    </td>
    -->
        </tr>
        }
    </tbody>

</table>

@{
    var prevDisabled = !Model.HasPreviosPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

@Html.ActionLink("Anterior", "Index", "Categoria", new { page = (@Model.PageIndex - 1), searchValue = ViewData["SearchValue"] }, new { @class = String.Format("btn btn-primary {0}", prevDisabled) })


@for (int i = 1; i <= Model.TotalPage; i++)
{
    @Html.ActionLink(String.Format("{0}", @i), "Index", "Categoria", new { page = @i, searchValue = ViewData["SearchValue"] }, new { @class = String.Format("btn btn-secondary m-1 item-pager {0}", @i == @Model.PageIndex ? "active" : "") })
}

@Html.ActionLink("Siguiente", "Index", "Categoria", new { page = (@Model.PageIndex + 1), searchValue = ViewData["SearchValue"] }, new { @class = String.Format("btn btn-primary {0}", nextDisabled) })
