﻿@model GestArtWeb.Models.mage_categoria

@if (Model.mage_articulo.Count > 0)
{
    <div class="card border-0" style="max-height:660px; overflow-y:scroll">
        <ul class="list-group list-group-flush">

            @foreach (var item in Model.mage_articulo)
            {
                <li class="list-group-item text-left">

                    @Html.ActionLink(String.Format("{0} | {1}", item.sku, item.mage_articulo_atributo_valor.SingleOrDefault(a => a.id_atributo == 71).value_varchar), "Details", "Producto", new { id = item.entity_id })

                </li>
            }

        </ul>
    </div>
}
else
{
    <h5 class="card-title mt-5">No se ha encontrado ningun producto.</h5>
    <p class="card-text">Para añadir productos, ha de editar clic en el botón Editar.</p>
    @Html.ActionLink("Editar", "Edit", "Producto", new { id = Model.entity_id }, new { @class = "btn btn-primary" })
}
