﻿@model GestArtWeb.Models.mage_categoria

@if (Model.mage_categoria1.Count > 0)
{
    <div class="card border-0" style="max-height:660px; overflow-y:scroll">
        <ul class="list-group list-group-flush">

            @foreach (var item in Model.mage_categoria1)
            {
                <li class="list-group-item text-left">

                    @Html.ActionLink(String.Format("{0} | {1}", item.entity_id, item.nombre), "Details", "Categoria", new { id = item.entity_id })

                </li>
            }

        </ul>
    </div>
}
else
{
    <h5 class="card-title mt-5">No se ha encontrado ninguna subcategorías.</h5>
    <p class="card-text">Para añadir una subcategoría ha de editar clic en el botón Editar.</p>
    @Html.ActionLink("Editar", "Edit", "Categoria", new { id = Model.entity_id }, new { @class = "btn btn-primary" })
}
