﻿
<form id="formNewCategory" class="forms" style="display:none">
    <div class="form-group">
        <label for="name">Nombre de nueva categoría</label>
        <input type="text" class="form-control" id="nameCat" placeholder="..." name="name" required>
        <small class="form-text text-muted">Este será el nombre de la nueva categoría a crear.</small>
    </div>
    <div class="form-group">
        <label for="idPadre">Id de categoría padre</label>
        <input type="number" class="form-control" id="idPadre" placeholder="..." name="idPadre" required>
        <small class="form-text text-muted">Debe de introducir el codigo númerico que identifica a la categoría que quiere que se padre. Para ver los códigos de las categorías puede exportar en excel todas estas.</small>
    </div>
    <button type="submit" class="btn btn-primary" id="btnCreateNewCategoty">Crear</button>
    <div style="margin-top: 20px; height: 80px">
        <span id="loadingCreateCategory" style="display:none"><img src="~/fonts/loading45.gif" style="width:30px; height: 30px" /> Procesando... </span>
        <div class="card text-white bg-success mb-3" style="display:none">
            <div class="card-body">
                <p class="card-text" id="messageSuccessResultCreateCategory"></p>
            </div>
        </div>

        <div class="card text-white bg-danger mb-3" style="display:none">
            <div class="card-body">
                <p class="card-text" id="messageErrorResultCreateCategory"></p>
            </div>
        </div>
    </div>
</form>