﻿@model GestArtWeb.Models.mage_categoria

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>mage_categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.es_activa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.es_activa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.es_anchor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.es_anchor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.incluida_en_menu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incluida_en_menu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.familia_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.familia_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mage_categoria2.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mage_categoria2.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
