﻿@model GestArtWeb.Models.mage_categoria

@{
    ViewBag.Title = "Details";
}

<input type="hidden" value="@Model.entity_id" id="IdCategory"/>

<div class="container">
    <h4>Detalles de catagoría <span class="font-weight-bold">@Html.DisplayFor(model => model.entity_id)</span></h4>
    <hr />

    <div class="row m-2">
        <div class="card border-secondary mb-3 col-md-4 col-sm-12 p-0" style="height: 720px; max-height:720px;">
            <div class="card-header">
                Detalles
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Entity ID: <span class="font-weight-bold">@Html.DisplayFor(model => model.entity_id)</span></li>
                <li class="list-group-item">Nombre: <span class="font-weight-bold">@Html.DisplayFor(model => model.nombre)</span></li>
                <li class="list-group-item">
                    Activa:
                    @if (Model.es_activa == 1)
                    {<span class="font-weight-bold">Si</span> }
                    else
                    { <span class="font-weight-bold">No</span>}
                </li>
                <li class="list-group-item">Nivel: <span class="font-weight-bold">@Html.DisplayFor(model => model.nivel)</span></li>

                <li class="list-group-item">
                    Incluida en menú:
                    @if (Model.incluida_en_menu == 1)
                    {<span class="font-weight-bold">Si</span> }
                    else
                    { <span class="font-weight-bold">No</span>}
                </li>
                <li class="list-group-item">
                    Modificada:
                    @if (Model.modificado == 1)
                    {<span class="font-weight-bold">Si</span> }
                    else
                    { <span class="font-weight-bold">No</span>}
                </li>

                @if (Model.padre > 2)
                {


                    <li class="list-group-item">Padre ID: <span class="font-weight-bold">@Html.ActionLink(String.Format("{0}", Html.DisplayFor(model => model.mage_categoria2.entity_id)), "Details", "Categoria", new { id = Model.mage_categoria2.entity_id }, new { @class = "" })</span></li>
                    <li class="list-group-item">Nombre de Padre: <span class="font-weight-bold">@Html.ActionLink(String.Format("{0}", Html.DisplayFor(model => model.mage_categoria2.nombre)), "Details", "Categoria", new { id = Model.mage_categoria2.entity_id }, new { @class = "" })</span></li>
                }
                <li class="list-group-item">Nº de productos asociados: <span class="font-weight-bold">@Html.DisplayFor(model => model.mage_articulo.Count)</span></li>
                <li class="list-group-item">Nº de subcategorías: <span class="font-weight-bold">@Html.DisplayFor(model => model.mage_categoria1.Count)</span></li>

                <li class="list-group-item">Buscar Productos: <input type="text" class="form-control" disabled id="searchProduct" placeholder="Producto..." /></li>
                <li class="list-group-item">Buscar Subcatgoría: <input type="text" class="form-control" disabled id="searchSubCategoria" placeholder="Categoría..." /></li>
            </ul>
        </div>

        <div class="col-md-1 col-sm-offset-0"></div>

        <div class="card text-center col-md-7 col-sm-12 p-0 border-secondary" style="height:720px; max-height:720px ">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">

                    <li class="nav-item">
                        <a class="nav-link active" href="#" id="btnSubCategories">Subcategorías</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="btnProductOfCategories">Productos</a>
                    </li>


                </ul>
            </div>
            <div class="card-body p-0" id="cardBodyProductsAndCategories">

                @Html.Partial("_Subcategories")

            </div>
        </div>

    </div>



    <p class="mt-4">
        @Html.ActionLink("Editar", "Edit", new { id = Model.entity_id }) |
        @Html.ActionLink("Lista de categorías", "Index")
    </p>

</div>
