﻿
<form id="formEditCategory" class="forms" style="display:none">
    <div class="form-group">
        <label for="entityId">Código identificativo de la categoría</label>
        <input type="number" class="form-control" id="entityId" placeholder="..." name="entityId" required>
        <small class="form-text text-muted">Para localizar la cateogría que desea editar se ha de introducir su código identificativo.</small>
    </div>
    <div class="form-group">
        <label for="name">Nombre de nueva categoría</label>
        <input type="text" class="form-control" id="nameCat" placeholder="..." name="name" required>
        <small class="form-text text-muted">Este será el nombre de la categoría a modificar.</small>
    </div>
    <div class="form-group">
        <label for="idPadre">Id de categoría padre</label>
        <input type="number" class="form-control" id="idPadre" placeholder="..." name="idPadre" required>
        <small class="form-text text-muted">Debe de introducir el codigo númerico que identifica a la categoría que quiere que se padre. Para ver los códigos de las categorías puede exportar en excel todas estas.</small>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="is_active" name="is_active" required>
            <label class="form-check-label" for="is_active">
                 <span class="ml-4">Is Active</span>
            </label>
            <small class="form-text text-muted">Si esta opción es marcada la categoría se podrá ver en la web.</small>
        </div>
    </div>
    <button disabled type="submit" class="btn btn-primary" id="btnEditCategoty">Actualizar</button>
    <div style="margin-top: 20px; height: 80px">
        <span id="loadingCheckCategory" style="display:none"><img src="~/fonts/loading45.gif" style="width:30px; height: 30px" /> Verificando si la categía existe... </span>
        <span id="loadingUpdateCategory" style="display:none"><img src="~/fonts/loading45.gif" style="width:30px; height: 30px" /> Procesando... </span>
        <div class="card text-white bg-success mb-3" style="display:none">
            <div class="card-body">
                <p class="card-text" id="messageSuccessResultFormEditCategory"></p>
            </div>
        </div>

        <div class="card text-white bg-danger mb-3" style="display:none">
            <div class="card-body">
                <p class="card-text" id="messageErrorResultFormEditCategory"></p>
            </div>
        </div>
    </div>
</form>