﻿
@model GestArtWeb.Models.mage_categoria[]


<div id="listFiltered">
    <table class="table table-striped">
        <tr>
            <th>
                ID
            </th>
            <th>
                NOMBRE
            </th>
            <th>
                ID PADRE
            </th>
            <th>
                PADRE
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.entity_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mage_categoria2.entity_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mage_categoria2.nombre)
            </td>
        </tr>
        }

    </table>

</div>



