﻿@model GestArtWeb.Helper.Pagination<GestArtWeb.Models.mage_categoria>

@{
    ViewBag.Title = "Categorías";
}

<!--<div class="container"> -->

<!--
    <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-12">
            <h2>Categorías</h2>
            <p>
                @Html.ActionLink("Crear nueva", "Create")
            </p>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 mt-sm-1">
            <form class="form-inline">
                <div class="form-group">
                    <label for="searchValue" class="label-info">Buscar:</label>
                    <input type="text" id="searchValue" name="searchValue" class="form-control m-1" value="@ViewData["SearchValue"]" />
                </div>
            </form>
        </div>
        <div class="col-lg-2 col-md-2 cols-sm-12 mt-sm-1 mb-1">
            @Html.ActionLink("Exportar Excel", "ExportExcel", "Categoria", new { @class = "btn btn-outline-success " })
        </div>
    </div>
    -->

<div id="listFiltered">
    @Html.Partial("_ListFilter")
    @Html.ActionLink("Exportar Excel", "ExportExcel", "Categoria", new { }, new { @class = "btn btn-outline-success " })
</div>
    


    <!-- </div> -->


    @section scripts
{
        <script>
                    /*
                    $(document).ready(function () {
                        var cat = {};

                        var categories = new Bloodhound({
                            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('nombre'),
                            queryTokenizer: Bloodhound.tokenizers.whitespace,
                            remote: {
                                url: '/api/categorias?query=%QUERY',
                                wildcard: '%QUERY'
                            }
                        });

                        $('#searchValue').typeahead({
                            minLength: 2,
                            highlight: true,
                            hint: false
                        }, {
                            name: 'catgorias',
                            display: 'nombre',
                            source: categories
                        }).on("typeahead:select", function (e, categoria) {
                            cat.entity_id = categoria.entity_id
                        });
                    });
                    */
        </script>

    }



