﻿@model GestArtWeb.Models.mage_articulo

@{
    const int OTRA_INFO = 259;
    const int NAME = 71;
    const int MANUFACTURE = 81;
    const int PRICE = 75;
    const int UNIDAD_ENVACE = 823;
    const int STATUS = 96;
    const int IS_MULTIPLE = 824;
    const int EAN = 144;
    const int PROMOTIONS = 139;
    const int ORDEN = 836;
    const int VISIBILITY = 102;
}

@if (Model != null)
{
    foreach (GestArtWeb.Models.mage_atributo attr in Model.mage_familia.mage_atributo.Where(a => a.id_atributo != MANUFACTURE && a.id_atributo != PRICE && a.id_atributo != UNIDAD_ENVACE
                                                                                        && a.id_atributo != STATUS && a.id_atributo != IS_MULTIPLE && a.id_atributo != EAN
                                                                                        && a.id_atributo != PROMOTIONS && a.id_atributo != ORDEN && a.id_atributo != VISIBILITY && a.id_atributo != NAME
                                                                                        && a.id_atributo != OTRA_INFO).OrderBy(a => a.nombre))
    {
        if (attr.filtrable == 1 || attr.id_atributo == 92)
        {

            var listItems = new List<SelectListItem>();
            foreach (var attrOpcVal in attr.mage_atributo_opcion.OrderBy(a => a.valor))
            {

                var attrVal = Model.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == attr.id_atributo);
                bool selected = attrVal != null && attrVal.value_int == attrOpcVal.id_opcion ? true : false;
                listItems.Add(new SelectListItem { Text = attrOpcVal.valor, Value = attrOpcVal.id_opcion.ToString(), Selected = selected });
            }

            <div class="form-group col-lg-4 col-sm-4">
                <label for="@attr.id_atributo">@attr.nombre</label>
                @Html.DropDownList(attr.id_atributo.ToString(), listItems, new { @class = "form-control", id = attr.id_atributo.ToString() })
            </div>
        }
        else
        {
            var attrVal = Model.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == attr.id_atributo);
            string valueForInAttribute = String.Empty;
            if (attrVal != null)
            {
                switch (attr.tipo)
                {
                    case "varchar":
                        valueForInAttribute = Model.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == attr.id_atributo).value_varchar;
                        break;
                    case "text":
                        valueForInAttribute = Model.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == attr.id_atributo).value_text;
                        break;
                    case "int":
                        valueForInAttribute = Model.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == attr.id_atributo).value_int.ToString();
                        break;
                    default:
                        valueForInAttribute = Model.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == attr.id_atributo).value_decimal.ToString();
                        break;
                }
            }

            <div class="form-group col-lg-4 col-sm-4">
                <label for="@attr.id_atributo">@attr.nombre</label>
                <input type="text" class="form-control" id="@attr.id_atributo" name="@attr.id_atributo" value="@valueForInAttribute" >
            </div>

        }
    }
    var attrOtraInfo = Model.mage_familia.mage_atributo.FirstOrDefault(a => a.id_atributo == OTRA_INFO);
    if (attrOtraInfo != null)
    {
        var attrVal = Model.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == OTRA_INFO);
        string valueForInAttribute = attrVal != null ? attrVal.value_text : String.Empty;

        <div class="form-group col-lg-6">
            <label for="@attrOtraInfo.id_atributo">@attrOtraInfo.nombre</label>
            <textarea class="form-control" rows="8" id="@attrOtraInfo.id_atributo" name="@attrOtraInfo.id_atributo">@valueForInAttribute</textarea>
        </div>
    }

}
else
{
    foreach (GestArtWeb.Models.mage_atributo attr in ((ICollection<GestArtWeb.Models.mage_atributo>)ViewBag.Familias.mage_atributo).Where(a => a.id_atributo != MANUFACTURE && a.id_atributo != PRICE && a.id_atributo != UNIDAD_ENVACE
                                                                                                                                        && a.id_atributo != STATUS && a.id_atributo != IS_MULTIPLE && a.id_atributo != EAN
                                                                                                                                        && a.id_atributo != PROMOTIONS && a.id_atributo != ORDEN && a.id_atributo != VISIBILITY && a.id_atributo != NAME
                                                                                                                                        && a.id_atributo != OTRA_INFO).OrderBy(a => a.nombre))
    {
        if (attr.filtrable == 1 || attr.id_atributo == 92)
        {
            var listItems = new List<SelectListItem>();
            foreach (var attrOpcVal in attr.mage_atributo_opcion.OrderBy(a => a.valor))
            {
                listItems.Add(new SelectListItem { Text = attrOpcVal.valor, Value = attrOpcVal.id_opcion.ToString(), Selected = String.IsNullOrEmpty(attrOpcVal.valor) ? true : false });
            }

            <div class="form-group col-lg-4 col-sm-4">
                <label for="@attr.id_atributo">@attr.nombre</label>
                @Html.DropDownList(attr.id_atributo.ToString(), listItems, new { @class = "form-control", id = attr.id_atributo.ToString() })
            </div>

        }
        else
        {
            <div class="form-group col-lg-4 col-sm-4">
                <label for="@attr.id_atributo">@attr.nombre</label>
                <input type="text" class="form-control" id="@attr.id_atributo" name="@attr.id_atributo" >
            </div>
        }
    }
    var attrOtraInfo = ((ICollection<GestArtWeb.Models.mage_atributo>)ViewBag.Familias.mage_atributo).FirstOrDefault(a => a.id_atributo == 259);
    if (attrOtraInfo != null)
    {
        <div class="form-group col-lg-6">
            <label for="@attrOtraInfo.id_atributo">@attrOtraInfo.nombre</label>
            <textarea class="form-control" rows="8" id="@attrOtraInfo.id_atributo" name="@attrOtraInfo.id_atributo" ></textarea>
        </div>
    }
}





