﻿
@if (ViewData["messageError"] != null)
{
    if (@ViewData["messageError"].GetType() == typeof(List<GestArtWeb.Helper.Message>) && ((List<GestArtWeb.Helper.Message>)ViewData["messageError"]).Count > 0)
    {
        <div id="messageError" style="display:none">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Información</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GestArtWeb.Helper.Message message in ((List<GestArtWeb.Helper.Message>)ViewData["messageError"]))
                    {

                        <tr>
                            <td>@message.code</td>
                            <td>@Html.Raw(message.message)</td>
                            <td>@Html.Raw(message.btnAction)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if(@ViewData["messageError"].GetType() != typeof(List<GestArtWeb.Helper.Message>))
    {
        <div id="messageError" style="display:none">@ViewData["messageError"]</div>
    }
}


@if (@ViewData["messageWarning"] != null)
{
    if (@ViewData["messageWarning"].GetType() == typeof(List<GestArtWeb.Helper.Message>) && ((List<GestArtWeb.Helper.Message>)ViewData["messageWarning"]).Count > 0)
    {
        <div id="messageWarning" style="display:none">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Información</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GestArtWeb.Helper.Message message in ((List<GestArtWeb.Helper.Message>)ViewData["messageWarning"]))
                    {

                        <tr>
                            <td>@message.code</td>
                            <td>@Html.Raw(message.message)</td>
                            <td>@Html.Raw(message.btnAction)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if(@ViewData["messageWarning"].GetType() != typeof(List<GestArtWeb.Helper.Message>))
    {
        <div id="messageWarning" style="display:none">@ViewData["messageWarning"]</div>
    }
}



@if (@ViewData["messageSuccess"] != null)
{
    if (@ViewData["messageSuccess"].GetType() == typeof(List<GestArtWeb.Helper.Message>) && ((List<GestArtWeb.Helper.Message>)ViewData["messageSuccess"]).Count > 0)
    {
        <div id="messageSuccess" style="display:none">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Información</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GestArtWeb.Helper.Message message in ((List<GestArtWeb.Helper.Message>)ViewData["messageSuccess"]))
                    {

                        <tr>
                            <td>@message.code</td>
                            <td>@Html.Raw(message.message)</td>
                            <td>@Html.Raw(message.btnAction)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else if(@ViewData["messageSuccess"].GetType() != typeof(List<GestArtWeb.Helper.Message>))
    {
        <div id="messageSuccess" style="display:none">@ViewData["messageSuccess"]</div>
    }
}


<!--
@if (@ViewData["messageSuccess"] != null)
{
    <div id="messageWarning" style="display:none">@ViewData["messageSuccess"]</div>
}
-->
