﻿@model GestArtWeb.Models.mage_articulo

@{
    string titleCardHeader = String.Empty;
    string btnSubmit = String.Empty;
    string sku = String.Empty;
    string disabled = String.Empty;
    var htmlAttributSelectFamily = new object();
    if (Model != null)
    {
        titleCardHeader = "Editar producto";
        btnSubmit = "<input type=\"submit\" class=\"btn btn-light\" id=\"btnSubmitEditProduct\" value=\"Guardar\" />";
        sku = Model.sku;
        disabled = "disabled";
        htmlAttributSelectFamily = new { @class = "form-control", disabled="disabled" };
    }
    else
    {
        titleCardHeader = "Nuevo Producto";
        btnSubmit = "<input type=\"submit\" class=\"btn btn-light\" id=\"btnSubmitCreateProductIndividually\" value=\"Crear\" />";
        htmlAttributSelectFamily = new { @class = "form-control" };
    }
}


<div class="card">
    <h6 class="card-header">@titleCardHeader</h6>
    <div class="card-body">

        <div class="form-row">
            <div class="form-group col-lg-4 col-sm-4">
                <label for="sku">Código</label>
                <input type="text" class="form-control" id="sku" placeholder="sku" name="sku" value="@sku" @disabled>
            </div>
            <div class="form-group col-lg-4 col-sm-4">
                <label for="inputState">Familia</label>
                @Html.DropDownList("id_familia", (IEnumerable<SelectListItem>)ViewBag.FamiliasSelectList, htmlAttributSelectFamily)
            </div>
            <div class="form-group col-lg-4 mt-4 col-sm-4">
                @Html.Raw(btnSubmit)
                <span id="loadingMessageForCrearUpdateIndividually" style="display:none" class="ml-2"><img src="~/fonts/loading45.gif" style="width:30px; height: 30px" /> Procesando datos... </span>
            </div>
        </div>

    </div>
</div>
<br />
