﻿@model GestArtWeb.Models.mage_articulo

@{ 
    bool setEventChangeFirsTimeForSelectCat1 = Model != null ? false : true;
}

<div class="card">
    <h6 class="card-header">Categorías</h6>
    <div class="card-body">

        <div class="form-row">
            <div class="form-group col-lg-4 col-sm-4">
                <label for="inputState">Categoría 1</label>
                <div id="containerListCat1" data-set-event-change-first-time="@setEventChangeFirsTimeForSelectCat1">
                    @Html.DropDownList("cat1", (IEnumerable<SelectListItem>)ViewBag.CategoriesFirstSelectList, new { @class = "form-control cats", id = "cat1" })
                </div>
            </div>
            <div class="form-group col-lg-4 col-sm-4">
                <label for="inputState">Categoría 2</label>
                <div id="containerListCat2">
                    @if (Model != null)
                    {
                        @Html.DropDownList("cat2", (IEnumerable<SelectListItem>)ViewBag.CategoriesSecondSelectList, new { @class = "form-control cats", id = "cat2" })
                    }
                    else
                    {
                        <select class="form-control cats" id="cat2" name="cat2"></select>
                    }
                </div>
            </div>
            <div class="form-group col-lg-4 col-sm-4">
                <label for="inputState">Categoría 3</label>
                <div id="containerListCat3">
                    @if (Model != null)
                    {
                        @Html.DropDownList("cat3", (IEnumerable<SelectListItem>)ViewBag.CategoriesThirdSelectList, new { @class = "form-control cats", id = "cat3" })
                    }
                    else
                    {
                    <select class="form-control cats" id="cat3" name="cat3"></select>
                    }
                </div>
            </div>
        </div>


    </div>
</div>
<br />
