﻿

@{ 
    const int ID_ATTRIBUTE_NAME = 71;
}

<table class="table table-hover" id="tableToCopyDataProduct">

    <tbody>
        @if (ViewBag.ProductsToTableCopyData != null)
        {
            foreach (GestArtWeb.Models.mage_articulo article in ViewBag.ProductsToTableCopyData)
            {
                <tr class="trProductToCopyData" data-id-product="@article.sku">
                    <td>@article.sku</td>
                    <td>
                        @if (article.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == 71) != null)
                            {
                                @article.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == 71).value_varchar
                            }
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

