﻿
@{
    /*ViewBag.Title = "Crear Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";*/
    const int CUSTOM_HEIGH_CONTAINER_ATTRIBUTE = 610;
}

<div id="messagesSection"> @Html.Partial("_Messages") </div>

    <div class="row">
        <div class="col-lg-8">
            <form id="formAttributeForNewProduct">
                @Html.Partial("_PrincipleInputForCreateOrEdit")

                @Html.Partial("_SelectsCategories")
                
                <div class="card" id="cardtechnicaldetailsProduct">
                    <h6 class="card-header">Detalles Técnicos</h6>
                    <div class="card-body" id="containeInputAttribute">

                        <div class="form-row" id="attribute-input-container" data-value-less-height="@CUSTOM_HEIGH_CONTAINER_ATTRIBUTE">
                            @Html.Partial("_AttributesProduct")
                        </div>

                    </div>
                </div>


            </form>
        </div>

        <div class="col-lg-4 mt-sm-4 mt-lg-0">
            <div class="card">

                <h6 class="card-header">Crear o Actualizar Usando Plantilla Excel</h6>
                <div class="card-body">

                    <div class="form-group">
                        @using (Html.BeginForm("CreateThroughExcel", "Producto", FormMethod.Post, new { enctype = "multipart/form-data", id = "excelNewProduct" }))
                        {
                            @Html.AntiForgeryToken();
                            @Html.ValidationSummary();


                            <input type="file" class="form-control-file" name="excelNewProduct" id="inputExcelNewProduct" />
                            <input type="submit" value="Enviar" id="CreateProductsWithExcel" class="btn btn-light mt-3" />
                        }
                    </div>
                    <span id="loadingMessageForCreateWithExcel" style="display:none"><img src="~/fonts/loading45.gif" style="width:30px; height: 30px" /> Procesando datos... </span>
                </div>

            </div>

            <div class="mt-4">
                <div class="card" id="cardTableToCopyDataProduct">

                    <h6 class="card-header">Copiar Datos <input type="text" id="inputSearchProductToCopyData" placeholder=" sku o nombre..." /></h6>

                    <div class="card-body" id="containerTableCopyDataProduct">

                        @Html.Partial("_TableCopyProductData")

                    </div>

                </div>
            </div>


        </div>


    </div>





