﻿@model GestArtWeb.Models.mage_articulo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:70px" class="">

    <h3 class="m-4"><img src="~/fonts/caja.png" style="width:30px; display:inline-block" class="img-responsive mr-2" />Detalles Producto</h3>
</div>

















    <h2>Details</h2>

    <div>
        <h4>mage_articulo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.entity_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.entity_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.modificado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.modificado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mage_familia.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mage_familia.nombre)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.sku }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
