﻿@model GestArtWeb.Models.mage_articulo

@{
   /* ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";*/
    const int CUSTOM_HEIGH_CONTAINER_ATTRIBUTE = 610;
}

<div id="messagesSection"> @Html.Partial("_Messages") </div>



    <!-- <h5 class="m-4"><img src="~/fonts/caja.png" style="width:30px; display:inline-block" class="img-responsive mr-2" />Editar producto </h5>   -->
    
    <div class="row">
        <div class="col-lg-8">
            <form id="formAttributeForNewProduct">
                @Html.Partial("_PrincipleInputForCreateOrEdit")

                @Html.Partial("_SelectsCategories")


                <div class="card" id="cardtechnicaldetailsProduct">
                    <h6 class="card-header">Detalles Técnicos</h6>
                    <div class="card-body" id="containeInputAttribute">

                        <div class="form-row" id="attribute-input-container" data-value-less-height="@CUSTOM_HEIGH_CONTAINER_ATTRIBUTE">
                            @Html.Partial("_AttributesProduct")
                        </div>

                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-4">

            <div>
                <div class="card" id="cardTableToCopyDataProduct">

                    <h6 class="card-header">Copiar Datos <input type="text" id="inputSearchProductToCopyData" placeholder=" sku o nombre..." /></h6>

                    <div class="card-body" id="containerTableCopyDataProduct">

                        @Html.Partial("_TableCopyProductData")

                    </div>

                </div>
            </div>
            
            <div class="card mt-4">

                <h6 class="card-header">Actualizar ficha técnica</h6>
                <div class="card-body">
                    
                    <div class="form-group">
                        <label for="nameDoc">Nombre del documento sin extención</label>
                        <input type="text" class="form-control" id="nameDoc" name="nameDoc" placeholder="..."/>
                    </div>


                    <input type="submit" value="Actualizar ahora" id="updateDocument" class="btn btn-light" />
                    <span id="loadingMessageForUpdateDocument" style="display:none"><img src="~/fonts/loading45.gif" style="width:30px; height: 30px" /> Ejecutando petición... </span>
                </div>

            </div>
                

        </div>
    </div>

