﻿
<!--
    
<h2>Upload Image</h2>

<form action="Upload" method="post" enctype="multipart/form-data">
    <textarea name="listCodeProduct" id="listCodeProduct" rows="5"></textarea>
    <input type="file" name="file" id="inputFileImages" multiple/>
    <br />
    <input type="submit" value="Upload" id="btnUploadImage" />
</form>

    -->



<form  action="Upload" method="post" enctype="multipart/form-data" id="formUpdatePhoto" class="forms" style="display:none">
    <div class="form-group">
        <label for="listCodeProduct">Códigos de productos a actualizar</label>
        <textarea class="form-control" rows="8" name="listCodeProduct" id="listCodeProduct"></textarea>
        <small class="form-text text-muted">Los códigos de productos se han de escribir separados por <b>ENTER, espacio, o una coma ','</b>.</small>
    </div>
    <div class="form-group">
        
        <input type="file" name="file" id="inputFileImages" multiple />
        <small class="form-text text-muted">Puede seleccionar multiples imagenes para cada producto.</small>
    </div>
    <input class="btn btn-primary" style="color:#fff !important" type="submit" value="Actualizar fotos" id="btnUploadImage" />

    
    <div style="margin-top: 20px; height: 80px">
        <span id="loadingUpdatePhoto" style="display:none"><img src="~/fonts/loading45.gif" style="width:30px; height: 30px" /> <span></span></span>
        <div class="card text-white bg-success mb-3" style="display:none">
            <div class="card-body">
                <p class="card-text" id="messageSuccessResultUpdatePhoto"></p>
            </div>
        </div>

        <div class="card text-white bg-danger mb-3" style="display:none">
            <div class="card-body">
                <p class="card-text" id="messageErrorResultUpdatePhoto"></p>
            </div>
        </div>
    </div>
    
</form>
