﻿@model IEnumerable<GestArtWeb.Models.mage_articulo>

@{
    /*ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";*/
}


<div class="row">
        @foreach (var item in Model)
        {
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card" style="">
                <!-- ADD IMAGE...
                    <img class="card-img-top" src="..." alt="Card image cap">
                -->
                <div class="card-body">
                    <h5 class="card-title"><strong>@item.sku</strong></h5>
                    <p class="card-text">
                        @if (@item.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == 71) != null)
                        {
                        @item.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == 71).value_varchar
                        }
                    </p>
                </div>
                <ul class="list-group list-group-flush ml-1">
                    @if (@item.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == 75) != null)
                    {
                        <li class="list-group-item">Precio: <strong>@item.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == 75).value_decimal €</strong></li>
                    }

                    @if (@item.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == 144) != null)
                    {
                        <li class="list-group-item">EAN: <strong>@item.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == 144).value_varchar</strong></li>
                    }

                    @if (@item.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == 836) != null)
                    {
                        <li class="list-group-item">Orden: <strong>@item.mage_articulo_atributo_valor.FirstOrDefault(a => a.id_atributo == 836).value_int</strong></li>
                    }
                </ul>
                <div class="card-body">
                    @Html.ActionLink("Editar", "Edit", "Producto", new { }, new { id = item.sku, @class = "card-link  btn btn-light edit-product" })
                    <!-- @Html.ActionLink("Detalles", "Details", "Producto", new { }, new { id = item.sku, @class = "card-link  btn btn-light detail-product" }) -->
                </div>
            </div>
        </div>
    }

</div>
