﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GestArtWeb</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <!--add class  navbar-fixed-top-->

    <div class="sidebar">
        <h3>
            @Html.ActionLink("GestArtWeb", "Index", "Producto", new { area = "" }, new { @class = "nav-link viewProduct" })
        </h3>

        <div id="customMenu">
            <div id="menu">
                <ul>
                    <li>
                        @Html.ActionLink("Productos", "Index", "Producto", new { area = "" }, new { @class = "nav-link" })
                        <ul>
                            <li>
                                @Html.ActionLink("Ver", "Index", "Producto", new { area = "" }, new { id = "menu-item-view-products", @class = "nav-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Crear", "Create", "Producto", new { area = "" }, new { id = "menu-item-create-product", @class = "nav-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Actualizar fotos", "FormUpdatePhoto", "Producto", new { area = "" }, new { id = "menu-item-update-photo-product", @class = "nav-link" })
                            </li>
                        </ul>
                    </li>

                    <li>
                        @Html.ActionLink("Categoría", "Index", "Categoria", new { area = "" }, new { @class = "nav-link" })
                        <ul>
                            <li>
                                @Html.ActionLink("Ver", "Index", "Categoria", new { area = "" }, new { id="menu-item-view-categories", @class = "nav-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Crear", "Create", "Categoria", new { area = "" }, new { id = "menu-item-create-category", @class = "nav-link" })
                            </li>
                            <li>
                                @Html.ActionLink("Modificar", "GetFormEdit", "Categoria", new { area = "" }, new { id = "menu-item-edit-category", @class = "nav-link" })
                            </li>
                        </ul>
                    </li>
                    <!--
                    <li>
                        <a href="#">Atributos</a>
                        <ul>
                            <li>
                                <a href="#">Ver</a>
                            </li>
                            <li>
                                <a href="#">Nuevo</a>
                            </li>
                            <li>
                                <a href="#">Modificar</a>
                            </li>
                        </ul>
                    </li>
                        -->
                </ul>
            </div>

        </div>


    </div>


    <div class="body-content">


        <div class="breadcrumbs-search">
            <img src="~/fonts/ico-menu2.png" class="img-responsive ico-menu" width="35" />

            <!--<div class="currently-showing">
                Navegando <span class="showing">298</span> <span class="category">of the best javascript plugins</span>
            </div>-->

            <div class="search">
                <form id="formSeach">
                    <span id="loadingSearchProduct" style="display:none"><img src="~/fonts/loading45.gif" style="width:30px; height: 30px" /> Buscando... </span>
                    <input type="text" placeholder="Buscar Producto" name="inputSearch" id="inputSearch" data-typeObjectToSearch="product">
                </form>
            </div>
        </div>

        <div id="content" class="p-3">
            <div id="resultAjax">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Gestión de artículos web</p>
            </footer>
        </div>


    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
</body>
</html>
