﻿body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    font-size: 0.9rem !important;
    line-height: 1 !important;
    overflow:hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea{
    max-width: 90%;
}



pre {
    font-family: inherit;
    max-height: 400px;
    margin: 0;
    white-space: pre-wrap;
    text-align: justify;
}

.alertify .ajs-body {
    font-family: inherit;
    max-height: 500px;
    margin: 0;
    white-space: pre-wrap;
    text-align: justify;
    overflow-y:auto;
}

a {
    color: #000;
}

input[type=submit] {
    color: #000 !important;
}

footer {
    text-align: center;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok {
    cursor: pointer;
}

.alertify .ajs-dialog {
    max-width: 1000px !important;
}

.alertify .ajs-commands {
    right: 4px !important;
    left: initial !important;
}

.alertify .ajs-footer .ajs-buttons.ajs-primary {
    text-align: right !important;
}

#cardTableToCopyDataProduct {
    max-height: 500px;
}

#containerTableCopyDataProduct {
    overflow-y: auto;
}

#containeInputAttribute{
    overflow-y: auto;
}

#tableToCopyDataProduct tr {
    cursor: pointer;
}

#inputSearchProductToCopyData {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
}

#content {
    margin: 0;
    position: relative;
    overflow-y: auto;
    max-height:93%;
}

.card-link:hover{
    color:#000 !important;
}

.card-link {
    color: #000 !important;
}

.card {
    background-color: #f2f2f2;
}

.card-header {
    background-color: #446E9B;
    color: #fff !important;
}

.list-group-item {
    background-color: inherit;
}

.slinky-menu a span {
    font-size: 1.2em;
}


.sidebar {
    position: absolute;
    width: 250px;
    height: 100%;
    color: #fff;
    background-color: #f6f7f8;
    outline: 1px solid #e6e6e6;
}
    .sidebar ul {
        list-style:none;
        padding:0;
        margin:0;
    }

    .sidebar a {
        display:block;
        text-decoration:none;
        padding: 10px;
    }

    .sidebar h3 {
        text-align: center;
        margin: 0;
        padding: 10px;
        font-weight: bold;
        background-color: #e6e6e6;
    }

        .sidebar h3 a:hover {
            color:#000;
        }

        .sidebar li {
            outline: 1px solid #e6e6e6;
            transition: all 0.3s;
        }

        .sidebar li:hover {
            border-left: 5px solid #6d94bf;
            color:#fff !important;
        }

.body-content {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0px;
    transition: all 0.3s;
    box-sizing: border-box;
    -webkit-box-shadow: -5px 1px 14px 1px rgba(0,0,0,0.34);
    -moz-box-shadow: -5px 1px 14px 1px rgba(0,0,0,0.34);
    box-shadow: -5px 1px 14px 1px rgba(0,0,0,0.34);
    background-color: inherit;
    overflow-y:auto;
}

    .menu-open:before {
        width: 100%;
        height: 100%;
        height: calc(100% + 60px);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: #fff;
        background: rgba(255,255,255,.75);
        content: '';
        display: block;
        opacity: 0.7;
        -webkit-transition: opacity .2s ease,visibility .2s ease;
        transition: opacity .2s ease,visibility .2s ease;
        visibility: visible;
    }
    

.ico-menu {
    cursor: pointer;
    float: left;
    margin-top:13px;
    margin-left: 10px;
}

.menu-open {
    transform: translateX(250px);
}


.breadcrumbs-search {
    width: 100%;
    height: 61px;
    position: relative;
    background: #191919;
    border-bottom: 1px solid #404040;
}


    .breadcrumbs-search .search {
        border-right: 4px solid #292929;
        margin: 15px 40px 0 0;
        padding: 2px 0;
        float: right;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

        .breadcrumbs-search .search form {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
        }

        .breadcrumbs-search .search input[type="text"] {
            color: #7d7d7d;
            font-size: 1.3em;
            background: url(../fonts/ico-magnify.png) no-repeat center left;
            border: 0;
            height: 20px;
            padding: 0 0 0 45px;
            margin-right: 15px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        .breadcrumbs-search .search span {
            color: #7d7d7d;
            margin-right: 30px;
        }

        .breadcrumbs-search .search input[type="text"]:focus {
            outline: 0px;
        }

            .breadcrumbs-search .currently-showing {
                color: #9d9d9d;
                font-size: 1.2em;
                background: url(../fonts/ico-eye.png) no-repeat 110px 22px;
                height: 44px;
                padding: 21px 0 0 150px;
                float: left;
                overflow: hidden;
            }

        .breadcrumbs-search .currently-showing .showing, .breadcrumbs-search .currently-showing .alert {
            color: #e8fbff;
            font-size: 1em;
            background: #008aa8;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            margin: -2px 5px 0 5px;
            padding: 3px 9px;
            display: inline-block;
        }


/*
@media (min-width: 1200px) {
    #listFiltered {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    #listFiltered {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    #listFiltered {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    #listFiltered {
        max-width: 540px;
    }
}
    */
#listFiltered {
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.forms {
    padding: 0 20% 0 20%;
    white-space: normal !important;
    text-align: center !important;
}

    .forms input {
        margin: 0;
        max-width: 100% !important;
    }